
# Virtual environment
.venv/

# Data and features (too large for git)
*.h5
data/raw/tcga-luad/*.json
data/raw/tcga-lusc/*.json
data/raw/cptac-luad-part1/*.json
data/raw/cptac-luad-part2/*.json
data/raw/cptac-lusc/*.json
*.tar.gz

# Figures
figures/cptac/*.png
figures/cptac/*.pdf
figures/cptac/*.csv

figures/tcga/*.png
figures/tcga/*.pdf
figures/tcga/*.csv

figures/film_comparison_outputs/*.png
figures/film_comparison_outputs/*.csv

figures/TEST_film_comparison_outputs

# Model weights
*.pt
*.pth

# Python
__pycache__/
*.pyc
.env
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Results (keep json summaries but not model weights)
results/no-FiLM/nofilmABMILseed96/*.json
results/no-FiLM/nofilmABMILseed96/*.csv
results/no-FiLM/nofilmABMILseed96/*.npz

results/no-FiLM/nofilmCLAMseed96/*.json
results/no-FiLM/nofilmCLAMseed96/*.csv
results/no-FiLM/nofilmCLAMseed96/*.npz

results/no-FiLM/nofilmTRANSMILseed96/*.json
results/no-FiLM/nofilmTRANSMILseed96/*.csv
results/no-FiLM/nofilmTRANSMILseed96/*.npz

results/no-FiLM/architecture_comparison_files_seed96

results/no-FiLM/architecture_comparison_output_seed96

# Verification scripts
src/hidden-verification/*.py